@font-face {
    font-family: PressStart2P;
    src: url('PressStart2P.ttf');
}

body {
    margin: 0px;
    font-family: PressStart2P;
    color: #FFEFCF;
}

.form-input label,
.form-input input {
    font-family: PressStart2P;
}


.form-input input:disabled {
    background-color: #e0e0e0;
    /* Light grey background */
    color: #a0a0a0;
    /* Grey border */
    cursor: not-allowed;
}

/* Overlay styles */
#overlay {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Sit on top of the page content */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with transparency */
    z-index: 9999;
    /* Specify a stack order in case you're using a different order for other elements */
}

#overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
}

#player-uuid {
    font-size: 12px;
}

.hidden {
    /* display: none !important; */
}

#customAlert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertBox {
    background-color: #FCD297;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.popup-msg {
    color: #935B0A;
    font-size: 12px;
    line-height: 24px;
    padding: 30px;
}

.social-post {
    background-color: #935B0A;
    padding: 6px;
    border-radius: 0px 0px 11px 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-post img {
    width: 50px;
}

.social-post img:first-child {
    padding-right: 12px;
}

#image {
    display: none;
}

.main-div {
    background-image: url('static-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.flex-div {
    padding-bottom: 17px;
}

.flex-text-ttl-main {
    font-size: 20px;
    text-align: center;
    line-height: 32px;
}

#back-button {
    padding: 1rem;
    position: absolute;
    bottom: 9.8rem;
}

#back-button a {
    text-decoration: none;
    color: #FFFFFF;
}


.flex-text-ttl {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    margin: 40px 10px 50px 10px;
}

.pc-flex {
    display: none;
}

.main-logo {
    position: relative;
    top: 20px;
    left: 0;
}

.flex-form {
    background-color: #FFFFFF;
    opacity: 0.8;
    padding: 40px 50px 40px 50px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: #4E4D4D;
    margin: 0px 15px 0px 15px;
}

.mb-flex {
    margin: 30px 120px 0px 120px;
    padding-bottom: 50px;
}

.flex-text-soc-ttl {
    padding-bottom: 12px;
}

input[type=text],
input[type=email] {
    width: 100%;
    padding: 8px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #707070;
}

input[type=file] {
    width: 100%;
    padding: 10px 2px;
    box-sizing: border-box;
    border: none;
}

.flex-text-soc-icon {
    display: flex;
    justify-content: center;
}

.flex-text-soc-icon img {
    margin-right: 15px;
    cursor: pointer;
    width: 46px;
}

.form-input {
    margin: 0px 0px 10px 0px;
}


.form-submit {
    background-color: #F9B315;
    text-align: center;
    width: 100%;
    border: none;
    padding: 12px 0px 12px 0px;
    color: #FFFFFF;
    font-family: PressStart2P;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
}

@media only screen and (min-width: 620px) {
    .flex-div {
        padding-bottom: 33px;
    }

    .flex-form {
        margin: 0px 50px;
    }

    .flex-text-soc-ttl {
        text-align: center;
    }

    #back-button {
        bottom: 8rem;
    }
}

@media only screen and (min-width: 1024px) {

    .flex-text-soc-ttl {
        text-align: left;
    }

    .flex-text-soc-icon {
        justify-content: left;
    }

    .main-logo {
        top: 40px;
    }

    .flex-div {
        display: flex;
        justify-content: space-between;
        margin: 0px 100px 0px 100px;
        padding-bottom: 382px;
    }

    .flex-text {
        position: relative;
        width: -webkit-fill-available;
    }

    .flex-text-ttl-main {
        font-size: 22px;
        text-align: center;
    }

    .flex-text-ttl {
        position: absolute;
        top: 40px;
        line-height: 20px;
        text-align: left;
    }

    .flex-text-soc {
        position: absolute;
        bottom: -120px;
    }

    .flex-text-soc-ttl {
        padding-bottom: 12px;
        line-height: 20px;
    }

    .flex-form {
        width: 80%;
        margin: 0px 20px 0px 60px;

    }

    .mb-flex {
        display: none;
    }

    .pc-flex {
        display: block;
    }
}